#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.main_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.create_form{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.create_form input{
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}
.create_form button{
  padding: 12px;
  width: 100px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}